/* ---------- FONT ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* ---------- COLOR VARIABLES ---------- */

:root {
  --body-bg: #0E0E0F;
  --content-bg: #50050d;
  --card-bg: #FFF2EB;
  --text-main: #F0F4F5;
}


/* ---------- GLOBAL ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SN pro';
}

body {
  background: var(--body-bg);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  padding: 40px 20px;
}


/* ---------- TITLE ---------- */

.headerTitle {
  font-family: "Lily Script One", cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}


/* ---------- MAIN CONTAINER ---------- */

.content {
  background: var(--content-bg);
  border-radius: 20px;
  padding: 35px;
  max-width: 1100px;
  margin: auto;
}


/* ---------- SUB TITLES ---------- */

.headSubtitle {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-family: "lily script one";
}


/* ---------- FORM ---------- */

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}


/* LABEL */

label {
  font-size: 1rem;
  margin-bottom: 6px;
}


/* ---------- INPUT ---------- */

input{
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border-radius: 10px;
  border: none;
  background: var(--card-bg);
  color: black;
  font-size: 16px;
}

/* ---------- GENRE SELECT ---------- */

form select {
  appearance: none;
  background: var(--card-bg);
  color: black;
  border: none;
  padding: 10px 40px 10px 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

form select:focus {
  outline: 2px solid var(--text-main);
}

form select:hover {
  opacity: 0.9;
}


/* ---------- FILE INPUT ---------- */

input[type="file"] {
  padding: 8px;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  background: var(--card-bg);
  color: #6b6b6b;
  border: none;
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
}


/* ---------- INPUT GROUP ---------- */

.inputRow {
  display: flex;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}


/* ---------- ADD MOVIE BUTTON ---------- */

form button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: var(--card-bg);
  color: black;
  font-weight: 600;
  font-family: "lily script one";
  font-size: 18px;
  cursor: pointer;
}


/* ---------- HEADER ---------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* ---------- FILTER SELECT ---------- */

.header select {
  appearance: none;
  background: var(--card-bg);
  color: black;
  border: none;
  padding: 10px 40px 10px 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  min-width: 160px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.header select:focus {
  outline: 2px solid var(--text-main);
}

.header select:hover {
  opacity: 0.9;
}



/* ---------- MOVIE GRID ---------- */

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 18px;
}


/* ---------- MOVIE CARD ---------- */

.movieCard {
  width: 250px;
  background: var(--card-bg);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 12px;
  transition: 0.3s;
  line-height: 1;
}


/* IMAGE */

.movieCard img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* CARD TITLE */

.movieCard h3 {
  color: black;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: 'lily script one'
}


/* CARD P */

.movieCard p {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'SN pro';
  color: #0E0E0F;
}


/* ---------- CARD BUTTONS ---------- */

.movieCard .button{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: start;

}

.movieCard .button button:first-child {
  width: 60%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--content-bg);
  color: var(--text-main);
  cursor: pointer;
  margin-top: 5px;
  font-family: "lily script one";
  font-size: 15px;
}

.movieCard .button button:last-child {
  width: 30%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--content-bg);
  color: var(--text-main);
  cursor: pointer;
  margin-top: 5px;
  font-family: "lily script one";
  font-size: 15px;
}


/* ---------- SUMMARY ---------- */

.summery {
  margin-bottom: 35px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.statsTotal,
.statsWatched,
.statsUnwatched {
  flex: 0 1 130px;
  padding: 8px;
  border-radius: 12px;
  background: var(--card-bg);
  text-align: center;
  color: black;
}

.stats span {
  display: block;
  font-family: "lily script one";
}

.statsP{
  text-align: center;
  margin-top: 20px;
}
